body,html{margin:0px}
body{background-color:white;width:70%;padding-left:15%;padding-right:15%}
.uniIcon{width:100%}
body,input,select,label{font-size:2vw}
h3{font-size:3vw}
h2{background-color: darkslategrey; text-align: center}
input,select{width:50%}
input[type=checkbox]{width:5%;zoom:1.5}
input[type=radio]{width:5%;zoom:1.5}
form{background-color:#FFA07A ;padding:3%}