body,html{margin:0px}
body{width:96%;padding-left:2%;padding-right:2%}
.uniIcon{width:100%}
body,input,select,label{font-size:5vw}
h3{font-size:5vw}
h2{background-color: darkslategrey; text-align: center}
input,select{width:80%}
input[type=checkbox]{width:5%;zoom:1.5}
input[type=radio]{width:5%;zoom:1.5}
form{background-color:#FFA07A ;padding:1%}