body,html{margin:0px}
body{width:96%;padding-left:2%;padding-right:2%}
#uniLogo{background-color: floralwhite }
.uniIcon{width:100%}
body,input,select,label{font-size:5vw}
h3{font-size:5vw;color: royalblue}
h2{background-color: lightgrey; text-align: center;font-size:6vw; border-radius: 5px }
input,select{width:80%}
input[type=checkbox]{width:5%;zoom:1.5}
input[type=radio]{width:5%;zoom:1.5}
form{background-color: whitesmoke ;padding:1%; color: black}
#pregunta{font-family:Verdana;font-size:1vm;width:auto;height:auto;margin:1px 1px;padding:1px 10px;}
